header {
    background-color: #666;
    padding: 0px;
    text-align: center;
    font-size: 35px;
    color: white;
}

section {
  width:600px;
  margin: 0 auto;
  white-space:nowrap; 
  overflow: auto;
}
.pic-container {
  width: 1500px;
}​

nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #ccc;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color:black;
    padding: 10px;
}

@media (max-width: 600px) {
    section {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
}


div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: center;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

